.App {
  text-align: center;
}

h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  color: rgba(13, 121, 255, 1);
  font-size: 6em;
  letter-spacing: -.13em;
}

h2 {
  font-family: 'Montserrat';
  font-weight: 400;
  color: rgba(60, 60, 60, .2);
  font-size: 2em;
  margin-top: -10vh;
}





